<div class="container">
  <ul class="social-stats">
    {{#if appsSubmitted}}<li class="apps"><a href="#community/plugins">{{appsSubmitted}} apps submitted</a></li>{{/if}}
    {{#if recentCommits}}<li class="commits"><a href="#community%2Fgithub">{{recentCommits}} recent commits</a></li>{{/if}}
    {{#if forumPosts}}<li class="forums"><a href="#community%2Fforums">{{forumPosts}} new forum posts</a></li>{{/if}}
    {{#if ircPeople}}<li class="irc"><a href="#community%2Firc">{{ircPeople}} people on IRC</a></li>{{/if}}
    {{#if pluginsSubmitted}}<li class="plugins"><a href="#community%2Fplugin">{{pluginsSubmitted}} plugins submitted</a></li>{{/if}}
  </ul>
</div><!-- .container -->